{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended"],
    "plugins": [],
    "rules": {
        "no-use-before-define": 2,
        "global-require": 2,
        "no-console": 1,
        "eqeqeq": 1,
        "no-extra-parens": 1,
        "semi": ["error", "always"]
    }
}

